swagger: '2.0'
info:
  title: Device APIs
  description: Device API service operations
  version: 1.0.0
host: api.vodafone.com
schemes:
  - http
basePath: /api/v1
produces:
  - application/json
paths:
  '/catalogue/device/{deviceId}':
    get:
      summary: Get the device details for the given device Id
      description: >-
        The service gets the details of the device specially price, equipment,
        specification, features, merchandising, etc in the response.
      operationId: CAT_004_GetDeviceDetails
      parameters:
        - name: deviceId
          in: path
          description: Unique Id of the device being requested
          required: true
          type: string
        - name: journeyType
          in: query
          description: >-
            Type of journey that the user undertakes e.g. "Acquisition",
            "upgrade", "ils" etc.
          required: false
          type: string
        - name: offerCode
          in: query
          description: >-
            Offer code that defines what type of promotional discount needs to
            be displaced.
          required: false
          type: string
      tags:
        - Device
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeviceDetails'
        '404':
          description: Not found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
  /catalogue/deviceTile:
    get:
      summary: >-
        Get the list of devices based on the filter criteria, like productGroup
        brand Name. Pagination, sorting, filteration also defined
      description: >-
        The service gets the details of the device list from Solr based on the
        filter criteria in the response.
      operationId: CAT_001_GetDeviceTiles
      parameters:
        - name: offset
          in: query
          description: Position in pagination
          required: false
          type: integer
        - name: count
          in: query
          description: Number of items
          required: false
          type: integer
        - name: make
          in: query
          description: >-
            Values on which the attributes should be filtered upon. Possible
            values are "apple". Make is also known as Manufacturer.
          required: false
          type: string
        - name: model
          in: query
          description: >-
            Values on which the attributes should be filtered upon. Possible
            values are "iphone7".
          required: false
          type: string
        - name: productClass
          in: query
          description: Values on which the attributes should be filtered upon.
          required: true
          type: string
        - name: groupType
          in: query
          description: Values on which the attributes should be filtered upon.
          required: true
          type: string
        - name: colour
          in: query
          description: filter by color of the device as in specification groups.
          required: false
          type: string
        - name: operatingSystem
          in: query
          description: >-
              Filter by OS of the device as in specification groups.
              Please note the value of this filter should pe passed
              in double quotes. eg operatingSystem = "ios 10"
          required: false
          type: string
        - name: capacity
          in: query
          description: >-
              Filter by capacity of the device as in specification groups.
              Please note the value of this filter should pe passed
              in double quotes. eg capacity = "32 GB"
          required: false
          type: string
        - name: mustHaveFeatures
          in: query
          description: >-
            One or more of the following token separated by comma.
            'physicalKeyboard', 'greatCamera', 'goodBattery', 'bigScreen',
            '4GEnabled', 'lightWeight'
          required: false
          type: string
        - name: sort
          in: query
          description: >-
            Values of attributes based on which solr will provide the sorted
            response, like Most Popular, Product Rating, New Releases,
            Brand(a-z)(z-a), MonthlyPrice(lo-hi)(hi-lo).
          required: false
          type: string
        - name: journeyType
          in: query
          description: When user selects device for Upgrade.
          required: false
          type: string
        - name: includeRecommendations
          in: query
          description: When user selects device for Upgrade.
          required: false
          type: string
        - name: offerCode
          in: query
          description: Promotional offer code applicable.
          required: false
          type: string
        - name: creditLimit
          in: query
          description: Monthly credit limit applicable in case of conditional accept.
          required: false
          type: string
        - name: msisdn
          in: query
          description: Customer Telephone number required for recommended products.
          required: false
          type: string
      tags:
        - DeviceTile
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FacetedDevice'
        '404':
          description: Not found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
  /catalogue/deviceTile/queries/byMakeModel:
    get:
      summary: >-
        Get the list of device tiles based on the filter criteria. Pagination
        also defined
      description: >-
        The service gets the details of the device tiles from coherence based on
        the filter criteria in the response.
      operationId: CAT_002_GetDeviceTileByMakeModel
      parameters:
        - name: make
          in: query
          description: >-
            Values on which the attributes should be filtered upon. Possible
            values are "apple".
          required: false
          type: string
        - name: model
          in: query
          description: >-
            Values on which the attributes should be filtered upon. Possible
            values are "iphone7".
          required: false
          type: string
        - name: groupType
          in: query
          description: >-
            Values on which the attributes should be filtered upon. Possible
            values are "Handset" or "Accessory".
          required: false
          type: string
        - name: journeyType
          in: query
          description: >-
            The journey that user undertakes "acquisition", "upgrade", "ils"
            etc.
          required: false
          type: string
        - name: offerCode
          in: query
          description: Promotional offer code applicable
          required: false
          type: string
        - name: bundleId
          in: query
          description: bundle Id for comaptible devices needs to displayed
          required: false
          type: string
        - name: deviceId
          in: query
          description: device Id for comaptible devices needs to displayed
          required: false
          type: string
        - name: creditLimit
          in: query
          description: >-
            creditLimit applicable for the customer in case of conditional
            accept state
          required: false
          type: string
      tags:
        - DeviceTile
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/DeviceTile'
        '404':
          description: Not found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
  /catalogue/deviceTile/queries/byDeviceVariant:
    get:
      summary: Get the device tile details for the given device tile Id.
      description: >-
        The service gets the details of the device required to be dispalyed on
        deviceTile.
      operationId: CAT_003_GetDeviceTileByVariantId
      parameters:
        - name: deviceId
          in: query
          description: Device Id of the device tile being requested
          required: true
          type: string
          format: Integer
        - name: offerCode
          in: query
          description: Promotional Offer Code that's applicable
          required: false
          type: string
      tags:
        - DeviceTile
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/DeviceTile'
        '404':
          description: Not found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
  /catalogue/accessory/queries/byDeviceId:
    get:
      summary: Get compatible accessory details for the given device Id
      description: >-
        The service gets the details of compatible accessory along with the
        necessary information in the response.
      operationId: CAT_005_GetCompatibleAccessories
      parameters:
        - name: deviceId
          in: query
          description: Unique Id of the device being requested
          required: true
          type: string
        - name: journeyType
          in: query
          description: The journey that the user undertakes
          required: false
          type: string
        - name: offerCode
          in: query
          description: Promotional offer applicable
          required: false
          type: string
      tags:
        - AccessoryTileGroup
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/AccessoryTileGroup'
        '404':
          description: Not found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
  /catalogue/insurance/queries/byDeviceId:
    get:
      summary: Get the list of insurance
      description: The service gets the details of insurance available with device.
      operationId: CAT_006_GetCompatibleInsurance
      parameters:
        - name: deviceId
          in: query
          description: Values based on which inssurnace will be fetched.
          required: true
          type: string
        - name: journeyType
          in: query
          description: user journey
          required: false
          type: string
      tags:
        - Insurances
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Insurances'
        '404':
          description: Not found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
  /catalogue/review/queries/byDeviceId:
    get:
      summary: Get the reviews for a specific device Id
      description: The service gets the reviews of a particular device variant
      operationId: CAT_007_GetDeviceReviews
      parameters:
        - name: deviceId
          in: query
          description: Unique Id of the device for which the review is being requested
          required: true
          type: string
      tags:
        - Review
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Review'
        '404':
          description: Not found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
  /catalogue/device/cacheStockAvailibility:
    post:
      summary: Cache the stock availibilty of device in Solr.
      description: Cache the stock availibilty of device in Solr.
      operationId: PRDT_012-CacheStockAvailibility
      parameters:
        - name: cacheDeviceStockAvailibilityRequest
          in: body
          description: Device group Type
          required: true
          schema:
            $ref: '#/definitions/CacheDeviceDetailRequest'
      tags:
        - Device
      responses:
        '200':
          description: Success
          schema:
            type: string
        '404':
          description: Not found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
  /catalogue/deviceTile/cacheDeviceTile:
    post:
      summary: Cache the Device Tile Details in Solr.
      description: Cache the Device Tile Details in Solr.
      operationId: PRDT_012-CacheDeviceTile
      parameters:
        - name: cacheDeviceTileRequest
          in: body
          description: Device group Type
          required: true
          schema:
            $ref: '#/definitions/CacheDeviceDetailRequest'
      tags:
        - DeviceTile
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CacheDeviceTileResponse'
        '404':
          description: Not found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
  /catalogue/productGroup:
    get:
      summary: Get the list of Product Groups
      description: Get the list of Product Groups
      operationId: CAT_006_GetProductGroups
      parameters:
        - name: groupType
          in: query
          description: get List of Product Groups for given criteria
          required: true
          type: string
        - name: groupName
          in: query
          description: group name
          required: false
          type: string
      tags:
        - ProductGroups
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductGroup'
        '404':
          description: Not found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
  '/catalogue/deviceTile/cacheDeviceTile/{jobId}/status':
    get:
      summary: Get the Cache Device Tile job status.
      description: Get the Cache Device Tile job status.
      operationId: PRDT_012-CacheDeviceTileStatus
      parameters:
        - name: jobId
          in: path
          description: Device group Type
          required: true
          type: string
      tags:
        - DeviceTile
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CacheDeviceTileResponse'
        '404':
          description: Not found
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Error'
definitions:
  CacheDeviceDetailRequest:
    type: object
    properties:
      groupType:
        type: string
        description: groupType
  FacetedDevice:
    type: object
    properties:
      newFacet:
        type: array
        items:
          $ref: '#/definitions/NewFacet'
      device:
        type: array
        items:
          $ref: '#/definitions/Device'
      noOfRecordsFound:
        type: number
        description: Number of Records found
      message:
        type: string
        description: GRPL error message for Tealium to be checked
  NewFacet:
    type: object
    properties:
      facetName:
        type: string
        description: 'Facet Name like colour,os,capacity'
      facetList:
        type: array
        description: List of facets with count
        items:
          $ref: '#/definitions/FacetWithCount'
  FacetWithCount:
    type: object
    properties:
      name:
        type: string
        description: equipment name
      count:
        type: number
        description: euipment count
  Device:
    type: object
    properties:
      deviceId:
        type: string
        description: Product id of the requested device from the product catalogue
      name:
        type: string
        description: Name of the product group as provided in the product catalogue
      make:
        type: string
        description: Make of the product
      model:
        type: string
        description: Model of the product
      groupType:
        type: string
        description: 'Group type of product group DEVICE_PAYM, DEVICE_PAYG'
      rating:
        type: integer
        description: >-
          This will indicate the number of rating starts to be displayed on
          screen.
      description:
        type: string
        description: Description of the product as provided in the product catalogue
      productClass:
        type: string
        description: 'Catalogue product class identifies products - SIMO, HANDSET etc.'
      preOrderable:
        type: boolean
        description: Pre orderable Flag
      merchandisingControl:
        $ref: '#/definitions/MerchandisingControl'
      media:
        type: array
        items:
          $ref: '#/definitions/MediaLink'
      priceInfo:
        $ref: '#/definitions/PriceForBundleAndHardware'
  DeviceDetails:
    type: object
    properties:
      deviceId:
        type: string
        description: Product id of the requested device from the product catalogue
      name:
        type: string
        description: Name of the product as provided in the product catalogue
      description:
        type: string
        description: Description of the product as provided in the product catalogue
      validOffer:
        type: boolean
        description: Is Valid Offer Present
      productClass:
        type: string
        description: 'Catalogue product class identifies products - SIMO, HANDSET etc.'
      productLines:
        type: array
        items:
          type: string
          description: 'String of Lines of product, like MSISDN'
      merchandisingControl:
        $ref: '#/definitions/MerchandisingControl'
      merchandisingPromotion:
        type: array
        items:
          $ref: '#/definitions/MerchandisingPromotions'
      stockAvailability:
        type: string
        description: Availability of Stock
      rating:
        type: string
        description: Bazaar voice rating of the product
      productPageURI:
        type: string
        description: Product Page URI
      equipmentDetail:
        $ref: '#/definitions/Equipment'
      leadPlanId:
        type: string
        description: Lead Plan ID for Product
      productAvailability:
        $ref: '#/definitions/ProductAvailability'
      media:
        type: array
        items:
          $ref: '#/definitions/MediaLink'
      specificationsGroups:
        type: array
        items:
          $ref: '#/definitions/SpecificationGroup'
      priceInfo:
        $ref: '#/definitions/PriceForBundleAndHardware'
      metaData:
        $ref: '#/definitions/MetaData'
  ProductAvailability:
    type: object
    properties:
      startDate:
        type: string
        description: 'Start Date of the Product "2012-04-01+05:30"'
      endDate:
        type: string
        description: 'End date of the Product 2012-04-21+05:30"'
      salesExpired:
        type: boolean
        description: 'Whether the sale of the product has been expired, Yes or No'
  Review:
    type: object
    properties:
      statistics:
        $ref: '#/definitions/ReviewStatistics'
      details:
        type: array
        items:
          $ref: '#/definitions/IndividualReview'
        description: Individual Reviews
  ReviewStatistics:
    type: object
    properties:
      overallRating:
        type: string
        description: Overall review rating
      recommendationPercentage:
        type: string
        description: Overall percentage of recommendations
      featureRating:
        type: array
        items:
          $ref: '#/definitions/FeatureRating'
        description: Rating for individual features
      ratingDistribution:
        type: array
        items:
          $ref: '#/definitions/RatingCount'
        description: Rating for individual features
  FeatureRating:
    type: object
    properties:
      name:
        type: string
        description: Name of the feature
      rating:
        type: string
        description: Overall rating for the feature
  RatingCount:
    type: object
    properties:
      rating:
        type: string
        description: Rating value
      count:
        type: string
        description: Count of respective ratings
  IndividualReview:
    type: object
    properties:
      title:
        type: string
        description: Review title
      totalFeedbacks:
        type: string
        description: Count of overall feedbacks for the review
      totalPositiveFeedbacks:
        type: string
        description: Count of overall positive feedbacks for the review
      rating:
        type: string
        description: Rating provided by reviewer
      reviewedOn:
        type: string
        description: Date when the reviewer provided the review
      reviewerNickName:
        type: string
        description: Reviewer nick name
      recommended:
        type: boolean
        description: Indicates whether the reviewer has recommended the product
      text:
        type: string
        description: Text content of the review
      featureRating:
        type: array
        items:
          $ref: '#/definitions/FeatureRating'
        description: Rating for individual features
  SpecificationGroup:
    type: object
    properties:
      groupName:
        type: string
        description: Name of the specification
      priority:
        type: integer
        description: Display Priority of the specification
      comparable:
        type: boolean
        description: ' Identify if the feature is coparable'
      specifications:
        type: array
        items:
          $ref: '#/definitions/Specification'
  Specification:
    type: object
    properties:
      name:
        type: string
        description: 'Name of the specification, color, storage, vedeo recording, etc'
      value:
        type: string
        description: Value of the field
      priority:
        type: integer
        description: display Priority of the specification field
      comparable:
        type: boolean
        description: Identify if the feature is coparable
      isKey:
        type: boolean
        description: Identify if this a key feature
      valueType:
        type: string
        description: 'Type of the value, TEXT, INTEGER, DECOMAL, BOOLEAN'
      valueUOM:
        type: string
        description: Unit of measure of the value if applicable
      description:
        type: string
        description: 'Friendly description, Alternative to tabular name value'
      footNote:
        type: string
        description: A foot note to the specification
  MediaLink:
    type: object
    properties:
      id:
        type: string
        description: >-
          Unique id given for this link which provide a reference for UI to
          place this on the screen
      value:
        type: string
        description: URL Link from the content site for the media
      type:
        type: string
        description: Will provide UI information on the type of the link (like URL)
  Price:
    type: object
    properties:
      gross:
        type: string
        description: Gross value of the device price
      net:
        type: string
        description: Net value of the device price
      vat:
        type: string
        description: VAT component of the device price
  MerchandisingControl:
    type: object
    properties:
      isDisplayableECare:
        type: boolean
        description: IS the device Disellable in ECare
      isSellableECare:
        type: boolean
        description: IS the device sellable ECare
      isDisplayableAcq:
        type: boolean
        description: IS the prdevice Dsellable
      isSellableRet:
        type: boolean
        description: IS the prdevice Dsellable
      isDisplayableRet:
        type: boolean
        description: IS the device Disellable Ret
      isSellableAcq:
        type: boolean
        description: IS the device sellable acq
      isDisplayableSavedBasket:
        type: boolean
        description: IS the device Displayable in basket
      order:
        type: integer
        description: Order number
      preorderable:
        type: boolean
        description: Can the device pre order
      availableFrom:
        type: string
        description: Date from which the device can be available
      backorderable:
        type: boolean
        description: Can the device back order
  Equipment:
    type: object
    properties:
      make:
        type: string
        description: Make of the device
      model:
        type: string
        description: Model of the device
  MetaData:
    type: object
    properties:
      seoCanonical:
        type: string
        description: SEO Canonical
      seoDescription:
        type: string
        description: SEO Description
      seoKeyWords:
        type: string
        description: SEO DKey words
      seoIndex:
        type: string
        description: SEO Index
      seoRobots:
        type: array
        description: List of robots
        items:
          type: string
          format: uuid
  MerchandisingPromotions:
    type: object
    properties:
      promotionName:
        type: string
        description: 'List of promotion like, Popular, Limited Time, Household, etc'
  DeviceTile:
    type: object
    properties:
      deviceId:
        type: string
        description: Device of the Lead Member within the group
      groupName:
        type: string
        description: Group Name of the Device
      groupType:
        type: string
        description: 'Group Type this devide belongs to, like Handset'
      rating:
        type: string
        description: Rating for the device Id
      reviewCount:
        type: string
        description: Rating for the device Id
      deviceSummary:
        type: array
        description: Device Summary of the each device within the product group
        items:
          $ref: '#/definitions/DeviceSummary'
  DeviceSummary:
    type: object
    properties:
      deviceId:
        type: string
        description: Device Id of the member
      displayName:
        type: string
        description: Display Name of a device This should come form MEF content file
      priority:
        type: string
        description: Display priority of the Member
      displayDescription:
        type: string
        description: >-
          Description of the device as provided in the merchandising content
          file, preDec of product/handset, eg.With 3D Touch, Live Photos, 7000
          series ...
      colourName:
        type: string
        description: 'Color of the HandSet - Default colour, eg. Gold'
      colourHex:
        type: string
        description: ' Hex representation of the colour'
      memory:
        type: string
        description: >-
          Storage Capacity of the Device  32GB, 64 GB, 128 GB, Default to be
          highlighted
      leadPlanId:
        type: string
        description: Lead Plan ID for the device
      leadPlanDisplayName:
        type: string
        description: 'Plan Name of the lead plan, from MEF Content file'
      uom:
        type: string
        description: Associated Plan UOM
      uomValue:
        type: string
        description: Associated Plan UOM Value
      bundleType:
        type: string
        description: Associated Bundle Type
      productGroupURI:
        type: string
        description: Concatenation of Make/Model
      merchandisingMedia:
        type: array
        items:
          $ref: '#/definitions/MediaLink'
      priceInfo:
        $ref: '#/definitions/PriceForBundleAndHardware'
      isCompatible:
        type: boolean
        description: Is the device compatible with the given bundle
      preOrderable:
        type: boolean
        description: Is the device pre-orderable as per MEF
      isAffordable:
        type: boolean
        description: >-
          flag to showcase whether the device is affordable or not in
          conditional accept scenario
  PriceForBundleAndHardware:
    type: object
    properties:
      bundlePrice:
        $ref: '#/definitions/BundlePrice'
      hardwarePrice:
        $ref: '#/definitions/HardwarePrice'
      oneOffPrice:
        $ref: '#/definitions/Price'
      oneOffDiscountPrice:
        $ref: '#/definitions/Price'
      monthlyPrice:
        $ref: '#/definitions/Price'
      monthlyDiscountPrice:
        $ref: '#/definitions/Price'
      stepPrices:
        type: array
        items:
          $ref: '#/definitions/StepPricingInfo'
  BundlePrice:
    type: object
    properties:
      bundleId:
        type: string
        description: Bundle id of the price to be calculated
      monthlyPrice:
        $ref: '#/definitions/Price'
      monthlyDiscountPrice:
        $ref: '#/definitions/Price'
      merchandisingPromotions:
        $ref: '#/definitions/MerchandisingPromotion'
  HardwarePrice:
    type: object
    properties:
      hardwareId:
        type: string
        description: Hardware id of the price to be calculated
      oneOffPrice:
        $ref: '#/definitions/Price'
      oneOffDiscountPrice:
        $ref: '#/definitions/Price'
      merchandisingPromotions:
        $ref: '#/definitions/MerchandisingPromotion'
        description: Merchandising promotions applicable for the bundle
  MerchandisingPromotion:
    type: object
    properties:
      tag:
        type: string
        description: Tag value of the merchandising promotion
      label:
        type: string
        description: Label value of the merchandising promotion
      description:
        type: string
        description: Description Text from MEF
      discountId:
        type: string
        description: 'Discount skud Id, if applicable'
      mpType:
        type: string
        description: Promotion Type
      priceEstablishedLabel:
        type: string
        description: Price Established label available in MEF file
  StepPricingInfo:
    type: object
    properties:
      sequence:
        type: string
        description: Sequence no of the line item
      oneOffPrice:
        $ref: '#/definitions/Price'
      monthlyPrice:
        $ref: '#/definitions/Price'
      duration:
        $ref: '#/definitions/Duration'
      discountSkuIds:
        description: List of applicable discount sku Ids for this duration
        type: array
        items:
          type: string
          format: uuid
  Duration:
    type: object
    properties:
      uom:
        type: string
        description: Unit of measurement for duration value
      value:
        type: string
        description: Duration value
  Accessory:
    type: object
    properties:
      skuId:
        type: string
        description: Unique Accessory id as available from the product catalogue
      name:
        type: string
        description: Name of the Accessory as provided in the product catalogue
      colour:
        type: string
        description: Colour of the Accessory as provided in the product catalogue
      description:
        type: string
        description: Description of the Accessory as provided in the product catalogue
      merchandisingMedia:
        type: array
        items:
          $ref: '#/definitions/MediaLink'
      deviceCost:
        $ref: '#/definitions/DeviceCost'
      attributes:
        type: array
        items:
          $ref: '#/definitions/Attributes'
  Insurance:
    type: object
    properties:
      id:
        type: string
        description: >-
          Unique id of the insurance product as available from the product
          catalogue
      name:
        type: string
        description: Name of the Insurance as provided in the product catalogue
      price:
        $ref: '#/definitions/Price'
      specsGroup:
        type: array
        items:
          $ref: '#/definitions/SpecificationGroup'
  Insurances:
    type: object
    properties:
      insuranceList:
        type: array
        items:
          $ref: '#/definitions/Insurance'
      minCost:
        type: string
        description: Contains minimum cost of Insurance
  Attributes:
    type: object
    properties:
      key:
        type: string
        description: Item Attribute Key
      type:
        type: string
        description: Item Attribute Type
      value:
        type: string
        description: Item Attribute Value
      valueUOM:
        type: string
        description: Item Attribute Value UOM
  DeviceCost:
    type: object
    properties:
      hardwarePrice:
        $ref: '#/definitions/HardwarePrice'
  ProductGroup:
    type: object
    properties:
      id:
        type: integer
        description: identifier (product group  id)
      groupName:
        type: string
        description: Product Group Name
      groupPriority:
        type: string
        description: Product Group Name
      groupType:
        type: string
        description: Product Group Name
      members:
        type: array
        items:
          $ref: '#/definitions/Member'
  Member:
    type: object
    properties:
      id:
        type: string
        description: identifier (product sku id)
      priority:
        type: string
        description: Priority defined for the product group in MEF
  CacheDeviceTileResponse:
    type: object
    properties:
      jobId:
        type: string
        description: job identifier
      jobStatus:
        type: string
        description: job status
  AccessoryTileGroup:
    type: object
    properties:
      groupName:
        type: string
        description: Accessory product group name like " Apple iPhone 6 cases"
      accessories:
        type: array
        items:
          $ref: '#/definitions/Accessory'
  Error:
    type: object
    properties:
      code:
        type: string
      message:
        type: string
      referenceId:
        type: string
